[submodule "tuto-git"]
	path = tuto-git
	url = https://github.com/Mushu-Tutorials/tuto-git
	branch = main
[submodule "tuto-host-package/tuto-packagist"]
	path = tuto-host-package/tuto-packagist
	url = https://github.com/Mushu-Tutorials/tuto-packagist
	branch = master
