[submodule "tuto-packagist"]
	path = tuto-packagist
	url = https://github.com/Mushu-Tutorials/tuto-packagist
	branch = master
[submodule "tuto-npmjs-packages"]
	path = tuto-npmjs-packages
	url = https://github.com/Mushu-Tutorials/tuto-npmjs-packages
	branch = main
